.git
.env
.env.*
node_modules
vendor
public/build
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.idea
.vscode
*.log
.DS_Store
tests/
.phpunit.result.cache
README.md
